@using CarService.Models.Entities
@model IEnumerable<CarService.Models.Entities.Engineer>

@{
    ViewData["Title"] = "Engineer";
}

<h1 class="center margin-bottom-h1">Engineer</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryPerMonth)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.ManagerID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryPerMonth)
            </td>
            <td>
                @{var managers = ViewData["manager"] as List<Manager>;
                  var managerName = managers.Find(x => x.Id == item.ManagerID).Name;
                    }
                @Html.DisplayFor(modelItem => managerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
