@model CarService.View.Models.EngineerViewModel;

@{
    ViewData["Title"] = "Engineer";
}

<h1 class="center margin-bottom-h1">Engineer</h1>

<p>
    <a asp-action="Create" class="button">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                Salary Per Month
            </th>            
            <th>
                Manager Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Engineers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryPerMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ManagerList.Find(x=>x.ID == item.ManagerID).Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
